@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

@keyframes buttoncolor {
    from {background-color: #9b59b6;}
    to {background-color: #602379;}
}

html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow-x: hidden;
    font-family: 'Montserrat', 'Calibri Light', sans-serif;
}

header {
    background-color: #9b59b6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0;
}

header div {
    display: flex;
    flex-direction: row;
}

header h1 {
    margin: 0;
    padding: 1%;
    color: white;
    font-family: 'Bebas Neue';
    display: inline-block;
    flex-grow: 5;
}

#gitlab {
    align-self:center;
    padding-right:1%;
}

header img {
    max-width: 30px;
    max-height: 30px;
}

header nav {
    margin: 0;
}

header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
}

header li {
    padding: 1%;
}

header li:hover {
    background-color: #602379;
    animation-name: buttoncolor;
    animation-duration: .5s;
}

header a {
    color:white;
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 90%;
    margin-left: 5%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1%;
    padding: .5%;
}

tr,td {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: .5%;
}

.keys {
    background-color: #e74c3c;
    color:white;
    font-weight: bolder;
}

button, input[type="submit"] {
    background-color: #9b59b6 !important;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
    padding: 10px;
}

button:hover, input[type="submit"]:hover {
    background-color: #602379 !important;
    animation-name: buttoncolor;
    animation-duration: .5s;
}

form {
    padding-left: 8%;
}

input {
    margin-bottom: 1%;
}

input[type="text"], input[type="date"] {
    width: 100%;
}

.center {
    text-align: center;
}
