<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
        <title>Studli</title>
    </head>

    <body>
        <header>
            <div id="branding">
                <h1>STUDLI</h1>
                <div id="gitlab"><a href="https://gitlab.com/magnetic2247/pronote_killer"><img src="/static/gitlab.png" alt="gitlab logo" /></a></div>    
            </div>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/write?mode=2">Ajouter une Option</a></li>
                    <li><a href="/write?mode=0">Ajouter un Élève</a></li>
                    <li><a href="/write?mode=1">Ajouter un Prof</a></li>
                    <li><a href="/write?mode=3">Supprimer un Élève</a></li>
                    <li><a href="/write?mode=4">Mettre à jour un prof</a></li>
                </ul>
            </nav>
        </header>

        <section>
            <h2>{{ title }}</h2>
            <table>
                <tr class="keys">
                {% for key in keys %}
                <td>{{ key }}</td>
                {% endfor %}
                </tr>
                {% for x in table.values() %}
                    <tr>
                        {% for y in x.values() %}
                        <td>{{ y }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </section>
    </body>
</html>